KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin
KEYCLOAK_CLIENT_SECRET=middle-secret-please-change
OIDC_CRYPTO_PASSPHRASE=replace-this-apache-oidc-secret
KEYCLOAK_INTERNAL_BASE_URL=http://keycloak:8080/kc
KC_HOSTNAME=http://localhost:8080/kc
FILES_INTERNAL_BASE_URL=http://file-server
FILE_TOKEN_SECRET=replace-this-hmac-secret
FILE_TOKEN_TTL_SECONDS=60
